
header {
    background-color: #95BCEA;
    /*height: 120px; */
}

.container_nav {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    align-items: end;
}

.lumea_logo {
    width: 110px;
}


.icones_esquerda {
    cursor: pointer;
    justify-self: center;
    margin-bottom: 15px;
}

.icone_lupa {
    height: 30px;
}

.icones_direita {
    /* background-color: aquamarine; */
    cursor: pointer;
    justify-self: center;
    margin-bottom: 15px;
}

.icone_user {
    height: 30px;
    display: flex;
    justify-self: flex-end;
}

nav a {
    font-family: "Tangerine", cursive;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}

.container_esquerda {
    display: flex;
    gap: 40px;
}


.container_direita {
    display: flex;
    gap: 40px;
}