
header {
    background-color: var(--corPrincipal)
}

.container_cabecalho {
    display: flex;
    max-width: 90%;
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    align-items: end;
}

.conteudo-nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


.barra_pesquisa_container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.campo_pesquisa {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 30px;
    font-size: 16px;
    transition: .5s;
}

.campo_pesquisa_f {
    padding: 5px 16px;
    width: 30px;
}

.campo_pesquisa_a {
    padding: 5px 30px;
    width: 200px;
}

.btn-pesquisa {
    background-color: transparent;
    padding: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
}

.btn-pesquisa .icone_lupa {
    height: 20px;
    margin: 0;
    margin-top: 1px;
    fill: var(--corBackground);
}

.icone_lupa {
    cursor: pointer;
    height: 30px;
}

.container_esquerda {
    display: flex;
    gap: 40px;
}

nav a {
    font-family: "Tangerine", cursive;
    text-decoration: none;
    color: var(--corBackground);
    font-size: 30px;
}

.icone_user {
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-self: end;
    margin-bottom: 15px;
    fill: var(--corBackground);
    padding-right: 80px;
}

.container_direita {
    display: flex;
    gap: 40px;
    padding-right: 80px;
}

.col_col3 {
    padding-right: 40px;
}

.lumea_logo {
    width: 110px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .me-auto {
        align-items: end;
    }

    .lumea_logo {
        margin: 1rem 0;
    }

    .icone_user {
        margin-bottom: 5px;
    }
}