footer {
    width: 100%;
    height: 60px;
    background-color: var(--corPrincipal);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: ;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding-top: 15px;
}

.rodape {
    display: flex;
}

.whatsapp {
    width: 22px;
}

.insta {
    width: 22px;
    color: #D4A017;
}

.redes_sociais {
    padding-top: 10px;
}